.button {
    &__upvote, &__downvote {
        color: var(--secondary-greyish-blue);
        font-weight: var(--fw-bold);
        opacity: 0.4;
        transition: opacity var(--trans-length) ease-in;

        &:hover {
            opacity: 1;
        }
    }
}