.comments-thread {
    &__item {
        background-color: var(--secondary-white);
    }
}

.comment-card {
    &__user {
        .username {
            color: var(--secondary-dark-blue);
            font-size: var(--sm-font-size);
            font-weight: var(--fw-bold);
        }

        .date {
            color: var(--secondary-greyish-blue);
            font-size: var(--sm-font-size);
        }
    }
}