.modal {
    background-color: var(--secondary-white);
    color: var(--secondary-white);
    z-index: 10;

    &__modal-heading {
        overflow: hidden;
    }

    &__modal-title {
        color: var(--secondary-dark-blue);
        font-size: var(--md3-font-size);
        font-weight: var(--fw-bold);
    }

    &__modal-body {
        color: var(--secondary-greyish-blue);
    }

    &__modal-btn {
        cursor: pointer;
        font-weight: var(--fw-bold);
        text-align: center;
        opacity: 0.9;
        transition: opacity var(--trans-length) ease-in;
    }

    &__modal-btn-close {
        background-color: var(--secondary-greyish-blue);
        
        &:hover {
            opacity: 1;
        }
    }

    &__modal-btn-confirm-delete {
        background-color: var(--primary-soft-red);
    }
}