.modal {
    background-color: var(--secondary-white);
    color: var(--secondary-white);
    z-index: 100;
    width: 375px;

    &__modal-heading {
        overflow: hidden;
    }

    &__modal-title {
        color: var(--secondary-dark-blue);
        font-size: var(--md2-font-size);
        line-height: var(--line-height);
        font-weight: var(--fw-bold);
    }

    &__modal-body {
        color: var(--secondary-greyish-blue);
    }

    &__modal-btn {
        cursor: pointer;
        font-weight: var(--fw-bold);
        text-align: center;
    }

    &__modal-btn-close {
        background-color: var(--secondary-greyish-blue);
        border: 1px solid var(--primary-light-gray);
        transition: all var(--trans-length) ease-in;
        
        &:hover {
            background-color: transparent;
            color: var(--primary-blue);
        }
    }

    &__modal-btn-confirm-delete {
        background-color: var(--primary-soft-red);
        border: 1px solid var(--primary-light-gray);
        transition: background-color var(--trans-length) ease-in;

        &:hover {
            background-color: var(--primary-blue);
        }
    }
}